*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header{
    background: linear-gradient(120deg, rgba(241, 147, 251, 0.699), rgba(85, 27, 35, 0.692)), url(/Pagina-Web-HTML-CSS/Imagenes/4.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: white;
    position: relative;
}

.Titulo{
    font-size: 60px;
}

.Subtitulo{
    font-size: 25px;
    margin-bottom: 20px;
}

.boton{
    text-decoration: none;
    font-size: 16px;
    background-color: #a18cd1;
    padding: 12px 15px;
    border-radius: 10px;
}

.Rotulo{
    position: absolute;
    width: 100%;
    bottom: 0;
    
}
.Contenedor-General{
    width: 73%;  
    margin: auto; 
}

.Cont0{
    
    width: 100%;
    display: flex;
    justify-content: space-between;   
    margin-bottom: 100px;
}

.Imagen{
    width: 480px;
    height: 353.65px;
    background-image: url(/Pagina-Web-HTML-CSS/Imagenes/7.png);
    background-size: cover;
    
}
.Contenido1{
    width: 400px;
    height: 353.65px;

}

.Tit{
    font-size: 35px;
    margin-bottom: 30px;
}
.Parraf
{
    font-size: 16px;
    margin-bottom: 20px;
}

.botonsubmit{
    background: linear-gradient(90deg, #FEA3A4 0%,#FDBAB4 32%, #FBC7BE 100%);
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 16px;
    color: white;
}

.Cont1{
    background-color: #F5576C;
    width: 100%;
    height: 250px;
}

.Contenido2{
    width: 80%;
    margin: auto;
    padding: 80px 0;
    color: white;
}

.Texto1{
font-size: 35px;
margin-bottom: 30px;
}

.Cont2{
    height: 531px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cont2 h2{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.Cajitas{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}

.Cajas{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.568);/* Sombra */
}

.Cajas:hover{
    transition: all ease-in .3s;
    transform: scale(1.03);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.568);/* Sombra */
}

.icon{
    font-size: 50px;
    color:#CC9199 ;
    margin-bottom: 20px;
    
}

.Cajas p{
    font-size: 25px;
    margin-bottom: 20px;
}